 #root {
  
  max-width: 1280px; 
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
 
}

.photo {
  width: 600px;
  
}

 .profilePic{
  width: 250px
}

body{
  display:flex;
}

 main {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 2px, solid, black;
}
h2{
  padding: 10px, 10px, 10px, 50px; 
  margin-top: 50px;
}
.resume{
margin-top: 50px;
}
